<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>

	<key>CFBundleName</key>
	<string>AlizaMS 1.3.1_mac_arm64</string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>CFBundleExecutable</key>
	<string>AlizaMS</string>

	<key>CFBundleVersion</key>
	<string>1.3.1_mac_arm64</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.1_mac_arm64</string>
	<key>CFBundleLongVersionString</key>
	<string>AlizaMS 1.3.1_mac_arm64</string>

	<key>LSMinimumSystemVersion</key>
	<string></string>

	<key>CFBundleGetInfoString</key>
	<string>1.3.1, © 2014-2021 Aliza Medical Imaging</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2014-2021 Aliza Medical Imaging</string>

	<key>CFBundleIconFile</key>
	<string>AlizaMS.icns</string>

	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>

	<key>NSPrincipalClass</key>
	<string>NSApplication</string>

	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
</dict>
</plist>
