#!/usr/bin/make -f
#export DH_VERBOSE=1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed
export DEB_CFLAGS_MAINT_APPEND = -Wall -pedantic

%:
	dh $@ --buildsystem=cmake+ninja

CMAKE_FLAGS = -DCMAKE_BUILD_TYPE:STRING=Release \
 -DUSE_FORCE_CXX14:BOOL=ON \
 -DCMAKE_SKIP_RPATH:BOOL=ON \
 -DCMAKE_INSTALL_DIR:STRING=/usr

override_dh_auto_configure:
	dh_auto_configure -- $(CMAKE_FLAGS)

override_dh_auto_test-arch:
	echo "No tests for this package"

