Source: alizams
Maintainer: Replace Maintainer <alizaviewer@web.de>
Section: science
Priority: optional
Build-Depends: cmake,
 pkg-config,
 debhelper-compat (= 13),
 dh-strip-nondeterminism,
 qt6-base-dev,
 qt6-base-dev-tools,
 libqt6opengl6-dev,
 libqt6svg6-dev,
 libqt6core5compat6-dev,
 libxkbcommon-dev,
 libbullet-dev,
 uuid-dev,
 libz-dev,
 libcharls-dev (>= 2.0.0),
 libopenjp2-7-dev,
 liblcms2-dev,
 libinsighttoolkit4-dev
Build-Depends-Indep:
Build-Conflicts:
Standards-Version: 4.6.0
Homepage: https://github.com/AlizaMedicalImaging/AlizaMS

Package: alizams
Architecture: amd64
Multi-Arch: no
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: Aliza MS DICOM Viewer
 The package contains Aliza MS binary and files.
