[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=AlizaMS
GenericName=DICOM Viewer
Comment=Medical Imaging
Exec=/usr/bin/alizams %F
Icon=alizams
Terminal=false
Categories=Graphics;
StartupNotify=true
MimeType=application/dicom;
